name: "Run isort"

on:
  push:
    branches: [ main, pmg_local, jv_local ]
  pull_request:
    branches: [ main, pmg_local, jv_local ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r requirements_tests.txt
    - name: python-isort
      uses: isort/isort-action@v0.1.0

