name: "Run tests"

on:
  push:
    branches: [ main, pmg_local, jv_local ]
  pull_request:
    branches: [ main, pmg_local, jv_local ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r requirements_tests.txt
    - name: Install PyG and dependencies
      run: |
        pip install torch-scatter -f https://pytorch-geometric.com/whl/torch-1.8.1+cpu.html
        pip install torch-sparse -f https://pytorch-geometric.com/whl/torch-1.8.1+cpu.html
        pip install torch-cluster -f https://pytorch-geometric.com/whl/torch-1.8.1+cpu.html
        pip install torch-spline-conv -f https://pytorch-geometric.com/whl/torch-1.8.1+cpu.html
        pip install torch-geometric

    - name: Test with pytest
      run: |
        pip install pytest
        pytest tests/
